body{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'Titulo';
    src: url(../fonts/titulos.ttf);
}

* {
    font-family: 'Titulo';
}

.navegacion_nombre {
    padding: 10%;
    font-size: 10vh;
}

.navegacion_arriba {
    display: flex;
    justify-content: center;
    font-size: 5vh;
}

.texto_despliegue {
    font-size: 3vh;
}

.texto_tamaño {
    font-size: 8vh; 
}

.posicion_texto {
    padding: 5% 15% 3%;
}

.fondo1 {
    border-top: 15px solid blue;
    border-bottom: 15px solid blue;
}

.texto2k {
    text-align: center;
    padding: 3%;
    font-size: 8vh;
   
}

.boton2k {
    font-size: 5vh;
}

.textoleaguepass {
    text-align: center;
    padding: 3%;
    font-size: 7.5vh;
    
}

@media screen and (max-width: 1400px) {
    .navegacion_nombre {
        padding: 8%;
        font-size: 8vh;
    }    
    
    .navegacion_arriba {
        font-size: 4vh;
    }

    .texto_despliegue {
        font-size: 3vh;
    }

    .texto_tamaño {
        font-size: 5vh;
        padding: 5%;
    }

    .texto2k {
        text-align: center;
        padding: 5%;
        font-size: 5.5vh;
       
    }
    
    .textoleaguepass {
        text-align: center;
        padding: 3%;
        font-size: 5.5vh;
        
    }
}

@media screen and (max-width: 1200px) {
    .navegacion_nombre {
        padding: 8%;
        font-size: 8vh;
    }    
    
    .navegacion_arriba {
        font-size: 4vh;
    }

    .texto_despliegue {
        font-size: 3vh;
    }

    .texto_tamaño {
        font-size: 5vh;
        padding: 5%;
    }

    .texto2k {
        text-align: center;
        padding: 5%;
        font-size: 5.5vh;
       
    }
    
    .textoleaguepass {
        text-align: center;
        padding: 3%;
        font-size: 4.5vh;
        
    }
}

@media screen and (max-width: 992px) {
    .navegacion_nombre {
        padding: 8%;
        font-size: 8vh;
    }    
    
    .navegacion_arriba {
        font-size: 4vh;
    }

    .texto_despliegue {
        font-size: 3vh;
    }

    .texto_tamaño {
        font-size: 5vh;
        padding: 5%;
    }

    .texto2k {
        text-align: center;
        padding: 5%;
        font-size: 3.5vh;
       
    }
    
    .textoleaguepass {
        text-align: center;
        padding: 3%;
        font-size: 4vh;
        
    }
}

@media screen and (max-width: 768px) {
    .navegacion_nombre {
        padding: 7%;
        font-size: 7vh;
    }  

    .navegacion_arriba {
        font-size: 3vh;
    }

    .texto_despliegue {
        font-size: 3vh;
    }

    .texto_tamaño {
        font-size: 4vh;
        padding: 5%;
    }

    .texto2k {
        text-align: center;
        padding: 3%;
        font-size: 3vh;
       
    }
    
    .textoleaguepass {
        text-align: center;
        padding: 3%;
        font-size: 3vh;
        
    }
}

@media screen and (max-width: 576px) {
    .navegacion_nombre {
        padding: 7%;
        font-size: 7vh;
    }  

    .navegacion_arriba {
        font-size: 3vh;
    }

    .texto_despliegue {
        font-size: 3vh;
    }

    .texto_tamaño {
        font-size: 4vh;
        padding: 5%;
    }

    .texto2k {
        text-align: center;
        padding: 3%;
        font-size: 3vh;
       
    }
    
    .textoleaguepass {
        text-align: center;
        padding: 3%;
        font-size: 3vh;
        
    }
}