@font-face {
    font-family: 'Titulo';
    src: url(../fonts/titulos.ttf);
}

* {
    font-family: 'Titulo';
}

.navegacion_nombre {
    padding: 10%;
    font-size: 10vh;
}

.navegacion_arriba {
    display: flex;
    justify-content: center;
    font-size: 5vh;
}

.texto_tamaño {
    font-size: 10vh;
    padding: 7%;
}

@media screen and (max-width: 640px) {
    .navegacion_arriba {
        font-size: 3vh;
        
    }
    .texto_tamaño {
        font-size: 4vh;
        padding: 5%;
    }
}

